.table-excel {
    width: 100%;

    &__body {
        width: 100%;
        overflow: auto;
        max-height: calc(100vh - $heightFormula - $heightHeader - $heightToolbar);

        &::-webkit-scrollbar {
            width: 12px;      
            height: 12px;
        }
          
        &::-webkit-scrollbar-track {
            background: #fff;    
            border: 1px solid #dadce0;   
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #dadce0;  
            border-radius: 20px; 
        }
    }

    &__cell {
      border-bottom: 1px solid #e5e5e6;
      border-right: 1px solid #e5e5e6;
      padding: 2px;

      &._selected {
        border: 2px solid #9ac0f3;
        background:#cedff5;
      }

      &._active {
        border: 3px solid #1a73e8;
        background: #fff;
      }
    }

    &__cell,
    &__column,
    &__num  {
      display: flex;
      flex-shrink: 0;
    }

    &__column,
    &__num  {
      align-items: center;
    }

    &__num,
    &__column {
        border: 1px solid #c7c7c7;
        border-top: none;
        border-left: none;
        background: #f8f9fa;
        justify-content: center;
        height: 25px;
    }

    &__num {
        min-width: $widthFirstCell;
    }

    &__column,
    &__num {
      position: relative;

      &_selected {
          background: #5f6368;
          color: #fff;
      }

      &_active {
          background: #e8eaed;
      }
    }

    &__row {
        display: flex;
    }

    &__column,
    &__cell {
      width: 120px;
    }

    .row-resize,
    .col-resize {
      position: absolute;
      z-index: 5;
      bottom: 0;
      right: 0;
      background: #1a73e8;
      opacity: 0;
      transition: opacity .5s ease 0s;

      &._selected,
      &:hover {
        opacity: 1 !important;
      }
    }

    .row-resize {
      height: 4px;
      left: 0;

      &._selected,
      &:hover {
        cursor: row-resize;
      }

      &._selected {
        width: 100vw;
      }
    }

    .col-resize {
      width: 4px;
      top: 0;

      &._selected,
      &:hover {
        cursor: col-resize;
      }

      &._selected {
        height: 100vh;
      }
    }
}
