.table-excel {
    width: 100%;

    &__body {
        width: 100%;
        overflow: auto;
        max-height: calc(100vh - $heightFormula - $heightHeader - $heightToolbar);

        &::-webkit-scrollbar {
            width: 12px;      
            height: 12px;
        }
          
        &::-webkit-scrollbar-track {
            background: #fff;    
            border: 1px solid #dadce0;   
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #dadce0;  
            border-radius: 20px; 
        }
    }

    &__cell {
      min-width: 40px;
      width: 120px;
      border-bottom: 1px solid #e5e5e6;
      border-right: 1px solid #e5e5e6;
      padding: 2px 0 0 0;

      &_selected {
        border-bottom: 3px solid #1a73e8;
        border-right: 3px solid #1a73e8;
      }
    }

    &__cell,
    &__column,
    &__num  {
        display: flex;
        align-items: center;
        min-height: 25px;
        flex-shrink: 0;
    }

    &__num,
    &__column {
        border: 1px solid #c7c7c7;
        border-top: none;
        border-left: none;
        background: #f8f9fa;
        justify-content: center;
    }

    &__num {
        min-width: $widthFirstCell;
    }

    &__column,
    &__num {
      user-select: none;
      position: relative;

      &_selected {
          background: #5f6368;
          color: #fff;
      }

      &_active {
          background: #e8eaed;
      }
    }

    &__row {
        display: flex;
    }

    &__column {
      min-width: 40px;
      width: 120px;
    }

    .row-resize,
    .col-resize {
      position: absolute;
      z-index: 5;
      bottom: 0;
      right: 0;
      background: #1a73e8;
      opacity: 0;
      transition: opacity .5s ease 0s;

      &._active,
      &:hover {
        opacity: 1;
      }

      &._active {
        &:before {
          content: '';
          position: absolute;
          background: #1a73e8;
        }
      }
    }

    .row-resize {
      height: 4px;
      left: 0;

      &._active {
        &:before {
          width: 100vw;
          bottom: 1px;
          left: 0;
          height: 1px;
        }
      }

      &:hover {
        cursor: row-resize;
      }
    }

    .col-resize {
      width: 4px;
      top: 0;

      &._active {
        &:before {
          width: 1px;
          top: 0;
          right: 1px;
          height: calc(100vh - $heightHeader - $heightFormula - $heightToolbar);
        }
      }

      &:hover {
        cursor: col-resize;
      }
    }
}
