._container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

._title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: bold;
}

._btn {
    color: #fff;
    background: #000;
    border-radius: 40px;
    font-weight: bold;
    padding: 0 30px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5 ease;

    &:hover {
        background: rgb(36, 34, 34);
    }
}

body.lock {
    overflow: hidden;
}